---
import Layout from '../components/layout.astro';
const joueurs=await fetch('https://ws-basket-spring.onrender.com/stats/netlify');
const data=await joueurs.json();
const playerdata=data.results;
---
<Layout
  title="Statistiques de joueur"
  description=""
  home
  appname="WS-Basket"
>
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">2023 - 2024 SAISON STATS</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Classement</th>
                                <th scope="col">Joueur</th>
                                <th scope="col">Equipe</th>
                                <th scope="col">M</th>
                                <th scope="col">MJ</th>
                                <th scope="col">PPM</th>
                                <th scope="col">RPM</th>
                                <th scope="col">PDPM</th>
                                <th scope="col">MPM</th>
                                <th scope="col">EFF</th>
                                <th scope="col">FG%</th>
                                <th scope="col">3P%</th>
                                <th scope="col">%LF</th>
                            </tr>
                        </thead>
                        <tbody>
                            {playerdata.map(player => (
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{player.nomJoueur} {player.prenomJoueur}</td>
                                    <td>{player.acronymeEquipe}</td>
                                    <td>{player.matchJouesEquipe}</td>
                                    <td>{player.matchJouesJoueur}</td>
                                    <td>{player.ppm}</td>
                                    <td>{player.rpm}</td>
                                    <td>{player.pdpm}</td>
                                    <td>{player.mpm}</td>
                                    <td>{player.eff}</td>
                                    <td>{player.pourcentageFG}</td>
                                    <td>{player.pourcentage3P}</td>
                                    <td>{player.pourcentageLF}</td>
                                </tr>
                            ))}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</Layout>